<div class="TcNr flexC fl-cen">
    <!-- <div class="Tc-tjrI"><img src="images/pic/TCtu01.png"></div> -->
    <div class="Tc-tjrN">
        <div class="loginhead">
            Confirm your inviter
            <!--{cn} 请确认你的推荐人是-->
        </div>
        <div class="Tc-tjrNP">{{data}}</div>
    </div>
    <div class="Tc-cfB Tc-tjrB flexC fl-bet">
        <a (click)="dilogRef.close()"  class="contributebutton1">
            Cancel
            <!--{cn} 取消-->
        </a>
        <a href="JavaScript:;" (click)="depositeConfirm()" class=" btn contributebutton">
            Confirm
            <!--{cn} 确定-->
        </a>
    </div>
</div>