<section class="root-home">
  <div class="overlay">
    <div class="container-fluid p-0" style="max-width: 1600px;" >
      <div class="row">
        <div class="col-md-4 m-auto py-0 px-1">
          <h3 class="firstheading">
            Overdrive
            <!--{cn} 设计拆分模式-->
          </h3>
          <p class="firstsubheading">
            Revolution of money system

            <!--{cn} 区块链拆分游戏-->
          </p>

          <p class="firstpara">
            Overdrive is a decentralised public blockchain and cryptocurrency project
            and is fully open source.
          </p>
          <button
            type="button"
            class="contributebutton"
            (click)="gotoDashBoard()"
          >
            CONTRIBUTE
            <!--{cn} 开始赚钱-->
          </button>
        </div>
        <div class="col-md-6 py-2 px-2">
          <div>
            <img
              src="assets/images/homeimage/Raw-Illustraton-1.png"
              class="button-image m-auto"
              alt=""
              style="width: 100%; height: auto"
            />
            <!-- driveimage -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bsgsecondsection">
  <div class="container p-0">
    <div class="row text-center">
      <div class=" col-12 col-md-4 col-sm-12  grppad">
        <!-- <i class="fa-solid fa-trophy fa-6x button-image poolicon "></i> -->
        <div class="card pricecard ">
          <img
            src="assets/images/homeimage/bitcoin-encryption.png"
            alt=""
            width="100"
            class="m-auto"
          />
          <h3 class="pool">
            Daily Lucky Pool
            <!--{cn} 四星奖池-->
          </h3>
          <p class="pricepool">$0.00</p>
        </div>
      </div>
      <div class=" col-12 col-md-4 col-sm-12 grppad">
        <div class="card pricecard">
          <img
            src="assets/images/homeimage/cryptocurrencies-going-up.png"
            alt=""
            width="100"
            class="m-auto"
          />
          <h3 class="pool">
            Daily 4 star pool
            <!--{cn} 四星奖池-->
          </h3>
          <p class="pricepool">$0.00</p>
        </div>
        <!--  <i class="fa-solid fa-star fa-6x button-image poolicon "></i> -->
      </div>
      <div class=" col-12 col-md-4 col-sm-12 grppad">
        <div class="card pricecard">
          <img
            src="assets/images/homeimage/bitcoin-wallet-a.png"
            alt=""
            width="100"
            class="m-auto"
          />
          <h3 class="pool">
            Daily Referral pool
            <!--{cn} 四星奖池-->
          </h3>
          <p class="pricepool">$0.00</p>
        </div>
        <!-- <i class="fa-solid fa-asterisk fa-6x button-image poolicon"></i> -->
      </div>
    </div>
  </div>
</section>
<div class="elementor-shape elementor-shape-top" data-negative="false">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
  </svg>
</div>
<section class="bsgthirdsections">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/images/homeimage/illustration-2-e1614311211637.png"
          alt=""
          class="img-fluid button-image"
          style="padding-right: 15%"
        />
      </div>
      <div class="col-md-6">
        <p style="color: white; font-size: 18px; line-height: 26px">
          Overdrive is a decentralised public blockchain and cryptocurrency project
          and is fully open source. The development team consists of a large
          collective of expert engineers and researchers. Crypto is developing a
          poweful and genius contract platform which seeks to deliver more
          advanced features than any protocol developed previously. It is the
          first blockchain platform to evolve out of a scientific philosophy and
          a research-first driven approach.
        </p>
        <div class="row">
          <div class="col-md-6">
            <a href="#">
              <p class="">...</p>
              <span class="skypenumber">$0.00</span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <p class="">...</p>
              <span class="skypenumber">$0.00</span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <p class="">...</p>
              <span class="skypenumber">$0.00</span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <p class="">...</p>
              <span class="skypenumber">$0.00</span>
            </a>
          </div>
          <div class="col-md-12 mt-2">
            <button
              type="button"
              class="contributebutton"
              (click)="gotoDashBoard()"
            >
              CONTRIBUTE
              <!--{cn} 开始赚钱-->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bsgforthsection">
  <div class="container p-0">
    <div class="row m-auto">
      <div class="col-md-4 px-0 py-2">
        <img src="/assets/images/decentralized (2).png" class="m-auto" />
        <h3 class="forthheading">
          100% decentralise with professional audit
          <!--{cn} 静态收益可观，资金进出透明，链上可查-->
        </h3>
      </div>
      <div class="col-md-4 px-0 py-2">
        <img src="/assets/images/return-of-investment.png" class="m-auto" />
        <h3 class="mb-0 forthheading">
          High return
          <!--{cn} 高收益存款-->
        </h3>
        <p class="forthsubheading">
          15 days per cycle initialys at
          <!--{cn} 初始15天一周期日利息-->
          <span class="spanhead">2%, </span>
          per cycle
          <!--{cn} 每周期收益-->
          <span class="spanhead">20%</span>
        </p>
      </div>
      <div class="col-md-4 px-0 py-2">
        <img src="/assets/images/longevity.png" class="m-auto" />
        <h3 class="forthheading">
          Sustainability and longevity is the key for Overdrive
          <!--{cn} 通过每周或每月安排购买，慢慢地投资加密货币-->
        </h3>
      </div>
    </div>
  </div>
</section>
<div class="elementor-shape1 elementor-shape-bottom" data-negative="false">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
  </svg>
</div>
<section
  class="bsgfifthsection"
  style="background: #0d0f2b; padding-bottom: 2%"
>
  <div class="smallsection">
    <div class="container p-0">
      <h3 class="fifthheading">
        The most trusted platform.
        <!--{cn} 最值得信赖的存款平台-->
      </h3>

      <p class="fithsubheading">
        Overdrive the platform for financial freedom
        <!--{cn} 以下是您应该选择BSG的几个原因-->
      </p>

      <div class="row mt-2">
        <div class="col-md-4 p-0">
          <div class="card fifthcard btn-gradient-1">
            <img src="assets/images/home/Indxin01.png" class="m-auto" />
            <h3 class="cardheading">
              100% decentralise
              <!--{cn} 完全去中心化-->
            </h3>
            <p class="text-white">
              100% Decentralise
              <!--{cn} 它是完全去中心化的-->
              <br />
              Smart contract coding fully verified by tronscan.
              <!--{cn} 一切都是智能合约代码自动执行!-->
            </p>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="card fifthcard btn-gradient-1">
            <img src="assets/images/home/Indxin02.png" class="m-auto" />
            <h3 class="cardheading">
              High return
              <!--{cn} 高收入-->
            </h3>
            <p class="text-white">
              60% monthly return
              <!--{cn} 有可能获得高达40%的月收入-->
              <br />
              And it's not a high risk platform.
              <!--{cn} 但不是高风险的存款项目!-->
            </p>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="card fifthcard btn-gradient-1">
            <img src="assets/images/home/Indxin03.png" class="m-auto" />
            <h3 class="cardheading">
              1-1 matching orders
              <!--{cn} 无限循环-->
            </h3>
            <p class="text-white">
              Sustainable formula
              <!--{cn} 内循环+外循环-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sixthsection">
  <div class="container p-0">
    <h3 class="sixthheading">Start within a few minutes</h3>
    <div class="row mt-2 m-auto">
      <div class="col-md-4 px-0 py-2">
        <img src="assets/images/home/Indjfz01.png" class="m-auto" />
        <p class="text-center text-white">
          Create account
          <!--{cn} 创建一个帐户-->
        </p>
      </div>
      <div class="col-md-4 px-0 py-2">
        <img src="assets/images/home/Indjfz02.png" class="m-auto" />
        <p class="text-center text-white">
          Connect wallet
          <!--{cn} 关联您的钱包账户-->
        </p>
      </div>
      <div class="col-md-4 px-0 py-2">
        <img src="assets/images/home/Indjfz03.png" class="m-auto" />
        <p class="text-center text-white">
          CONTRIBUTE
          <!--{cn} 开始存款-->
        </p>
      </div>
      <div class="sixthline sixthline1"></div>
      <div class="sixthline sixthline2"></div>
    </div>
  </div>
</section>
<div class="elementor-shape elementor-shape-bottom" data-negative="false">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
  </svg>
</div>
<section class="bsgseventhsection">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h3>
          Monthly 60%
          <!--{cn} 赚取月收益高达45%存款方式-->
        </h3>
        <p>
          Cryptro connects banks, payment providers, digital asset exchanges and
          corporates via Cryptro to provide one.
        </p>

        <button class="contributebutton mt-1">
          <a
          href="#"
          class=" mt-3"  style="color: white;
          font-weight: 600;"
          
        >
          Start earning
          <!--{cn} 开始赚钱-->
        </a>
        </button>
      </div>
      <div class="col-md-6">
        <img
          src="assets/images/homeimage/illustration-hero-new.png"
          class="button-image"
          alt=""
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
