	<div class="TcNr flexC fl-cen">
		<div class="Tc-qkN  flexC fl-cen" *ngFor="let item of rewardInfo">
			<!--取款-开始-->
			<div class="Tc-qkDK" >
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						Unlock principal
						
					</div>
					<div class="Tc-qkNS"><span class="unfreezed">{{item.capitals}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						Cycle reward
						
					</div>
					<div class="Tc-qkNS"><span class="staticReward">{{item.statics}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						1st level
					</div>
					<div class="Tc-qkNS"><span class="directReward">{{item.directs}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						2-5 level
					</div>
					<div class="Tc-qkNS"><span class="level4Reward">{{item.level4Released}}</span>USDT</div>
				</div>
				
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						6-20 level
					</div>
					<div class="Tc-qkNS"><span class="level5Reward">{{item.level5Left}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet" style="font-size: 10px; margin-left: 15px; height: 20px;">
					<div class="Tc-qkNH">
						Freezing
					</div>
					<div class="Tc-qkNS"><span class="level5Freezed">{{item.level5Freezed}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						Lucky reward
					</div>
					<div class="Tc-qkNS"><span class="luckReward">{{item.luck}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						4 star reward
						
					</div>
					<div class="Tc-qkNS"><span class="starReward">{{item.star}}</span>USDT</div>
				</div>
				<div class="Tc-qkNz flexC fl-bet">
					<div class="Tc-qkNH">
						Top player reward
					</div>
					<div class="Tc-qkNS"><span class="topReward">{{item.top}}</span>USDT</div>
				</div>			
			</div>
			<div class="Tc-qkNF flexC fl-bet">
				<div class="Tc-qkNH">
					Available withdrawal
				</div>
				<div class="Tc-qkNS"><span class="totalReward">{{item.capitals + item.statics + item.directs + item.level4Released + item.level5Left + item.level5Freezed + item.luck + item.star + item.top}}</span>USDT</div>
			</div>
			<div class="Tc-qkb fl-end flexC">
				<a (click)="withdrawAmount()" class="Tc-qkBut withdrawBut">
					Withdraw
				</a>
			</div>
		
		</div>
	</div>