<footer class="foot">
	<div class="ftK Indwark flexC " style="width: 100%;
    justify-content: center; background: #0d0f2b;" >
		<div class="ftKn">
			<div class="ftKnL flexC">
				
			</div>	
		</div>
		<div class="ftKI flexC">

			<a href=""></a>
			<a href="https://t.me/dispnetwork" class="ftKIa" target="_blank" ><img src="assets/images/icons8-telegram-50.png" alt=""></a>
			<!-- <a href="https://tron.network/" class="ftKIa" target="_blank" ><img src="assets/images/icons8-tron-64.png"></a> -->
			<!-- <a href="https://twitter.com/BSGSplitGame" class="ftKIa" target="_blank"><img src="assets/images/icons8-twitter-50.png" alt=""></a> -->
			<!-- <a href="https://www.youtube.com/channel/UCMEUNh_dN2CUDX0upsH5SZw" class="ftKIa" target="_blank"><img src="assets/images/icons8-youtube-50.png" alt=""></a> -->
		</div>
	</div>
</footer>