<div class="Huans madk flex fl-bet">
    <div class="teaBRF flex fl-bet">
        <a href="javascript:;" class="teaBRFa flexC">
            <img src="assets/images/team01.png">
            <div class="teaBRFp">
                <p class="mb-0" >
                    Sales
                    <!--{cn} 总业绩-->
                </p>
                <h3 class="DepC4 totalTeamDeposit mb-0"> {{teamTotalDeposit}}</h3>
            </div>
        </a>
        <a href="javascript:;" class="teaBRFa flexC">
            <img src="assets/images/team02.png">
            <div class="teaBRFp">
                <p class="mb-0">
                    Downline
                    <!--{cn} 邀请用户-->
                </p>
                <h3 class="DepC1 totalInvited mb-0">{{totalInvited}}</h3>
            </div>
        </a>
        <a href="javascript:;" class="teaBRFa flexC">
            <img src="assets/images/team03.png">
            <div class="teaBRFp">
                <p class="mb-0">
                    Performance A area 
                    <!--{cn} A区业绩-->
                </p>
                <h3 style="color:#FA2256" class="maxDirectDeposit mb-0">{{maxDirectDeposit}}</h3>
            </div>
        </a>

        <a href="javascript:;" class="teaBRFa flexC">
            <img src="assets/images/team05.png">
            <div class="teaBRFp">
                <p class="mb-0">
                    Performance B area
                    <!--{cn} B区业绩-->
                </p>
                <h3 class="DepC2 otherDirectDeposit mb-0">{{otherDirectDeposit}}</h3>
            </div>
        </a>
        
    </div>
</div>