.dasTckNA {
        
    font-size: 19px;
    border-radius: 0px;
    width: 141px;
    height: 46px;
    line-height: 44px;
    border-left: 1px solid darkblue;
    border-right: 2px solid darkorchid;
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkorchid;
    border-radius: 10px;
  
 

}


.deposite:hover {
    color: white;
    background-image: linear-gradient(to right, #95378c 0%, #372ba8 51%, rgb(143, 34, 163) 100%);
    border: none;
    transition: 2s;
     
    
   
}

.withdraw:hover{
    background-image: linear-gradient(to right, #95378c 0%, #372ba8 51%, rgb(143, 34, 163) 100%);
    color: white;
    border: none;
    transition: 0.5s;
}

.account:hover{
    background-image: linear-gradient(to right, #95378c 0%, #372ba8 51%, rgb(143, 34, 163) 100%);
    color: white;
    border: none;
    transition: 0.5s;
}

.lend:hover{
    
    background-image: linear-gradient(to right, #95378c 0%, #372ba8 51%, rgb(143, 34, 163) 100%);
    color: white;
}

.copytext{
    font-size: 18px; margin-left: 10px; cursor: pointer;
}

.hdFSN img {
    width: 55px;
    height: 55px;
    background: #823491;
    border-radius: 50px;
    padding: 10px;
}


.sidesplit {
    width: 100%;
    border-right: 1px solid #734af363;
   
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 12px;
    background-color: #0d102c;
    border-radius: 4px;
    padding: 3px 15px 4px 15px;
    top: -37px;
    left: -32px;
    width: 97px;
    text-align: center;
    
  }
  
  .hover-text:hover .tooltip-text {
    visibility: visible;
  }

  

/*Simulate page content*/
