


.deposite:hover {
    color: white;
    background: #7e61f9;
}

.withdraw:hover{
    background: #fb9a9d;
    color: white;
}

.account:hover{
    background: #ffb573;
    color: white;
}

.lend:hover{
    
    background: #2a61fd;
    color: white;
}

.hdFSN img {
    width: 55px;
    height: 55px;
    background: #823491;
    border-radius: 50px;
    padding: 10px;
}
